*{
    margin: 0;
    padding: 0;
    background-color: aqua;
}

/* img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left top;
} */

.image-container{
    background-image: url('./profile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}